.main_btn{
    display: flex;
    justify-content: center;
    position: relative;
    color:white;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    border-bottom: 1px solid grey;
}
table{
    margin: 0 auto;
}
.totalsum{
    float: right;
}